<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%= zero %> </p>
<table class="bordered">
    <tbody>
        <% for(var i = 0;i<contents.length; i++){ %>
            <tr>
                <td><a href=<%= contents[i].direct %>> <%=contents[i].name%></a>
                    <img src="<%= contents[i].direct %>.jpg"></img><td>
            </tr>
        <%}%> 
        </tbody>
  </table>
</body>
</html>