<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="guc.ico" type="image/x-icon">
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: fill;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        .container1 {
            position: fixed;
            left: 50px;
            top: 150px;
            color: white;
        }
        .container2 {
            position: fixed;
            left: 300px;
            top: 150px;
            color: white;
            width: 300px;
            text-align: justify;
            text-justify: inter-word;
        }
        .video {
            position: fixed;
            left: 700px;
            top: 150px;
            color: white;
            width: 300px;
            text-align: justify;
            text-justify: inter-word;
        }
        .readlist {
            position: fixed;
            left: 30px;
            top: 470px;
        }
        #my {
            zoom: 110%;
        }
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            visibility: hidden;
        }
        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }
        .closebtn:hover {
            color: black;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Grapes of Wrath</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">The Grapes of Wrath</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search" style="position:fixed; right: 670px;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="position:fixed; right: 600px;">Search</button>
            </form>
            <form method="POST" action="/logout">
                <button class="btn btn-outline-success my-2 my-sm-0" style="margin: 10px;">Logout</button>
            </form>
            <form method="GET" action="/home">
                <button class="btn btn-outline-success my-2 my-sm-0" style="margin: 10px;">Home</button>
            </form>
            <form method="GET" action="/readlist">
                <button class="btn btn-outline-success my-2 my-sm-0" style="margin: 10px;">Your readlist</button>
            </form>
        </div>
    </nav>
    <div class="container1">
        <img id="image" src="/grapes.jpg" width="193" height="300">
    </div>
    <div class="container2">
        First published in 1939, Steinbeck’s Pulitzer Prize-winning epic of the Great Depression chronicles the Dust Bowl migration of the 1930s and tells the story of one Oklahoma farm family, the Joads—driven from their homestead and forced to travel west to the promised land of California.
    </div>
    <div class="readlist">
        <form method="POST" action="/add">
            <input type="hidden" name="title" value="The Grapes of Wrath">
            <button id="readlist" class="btn btn-secondary ml-3" onclick="myFunction()">Add to Want to Read List</button>
        </form>
        <script>
            var check = '<%=bool%>';
            function myFunction() {
                if(check == 'true') {
                    alert("Already Added!");
                }
                else {
                    alert("Added Successfully!")
                }
            }
        </script> 
    </div>
    <div class="video">
        <iframe width="480" height="360" src="https://youtube.com/embed/fOuAZLA_jWQ">
        </iframe>
    </div>
</body>
</html>